* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --main-bg-color: #ffffff;
    --primary-color: #5B557F;
    --grey-color: #5d5d5a;
    --shadow-color: #5d5d5a33;
    --sec-color: #F8F8FC;
    --black-color: #0F0D1E;
    --light-gray: #ACACAC;
}

::selection{
  background-color: lightgreen;
  color: var(--main-bg-color);
}
html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

/* App */

.app {
  display: flex;
}
/* Nav bar css */
.nav {
    flex-basis: 13%;
    background-color: var(--main-bg-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 2.5rem;
    transition: all 1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 0 1rem 1rem;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    transition: all .2s;
    color: var(--primary-color);
    z-index: 10;
}
.nav-item:hover{
    cursor:pointer; 
    background: var(--sec-color);
    color: var(--black-color);
}

.nav-item:hover .nav-icon{
  fill: var(--black-color);
}
.nav-title{
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.1px;
}

.nav-icon {
  opacity: 1;
  transition: all 0.8s;
  fill: var(--primary-color);
  width: 2.4rem;
  height: 2.4rem;
}

.nav-profile {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.nav-image {
  cursor: pointer;
}
.profile-pic {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}


/* Explore Section */
.explore {
  text-align: center;
  flex: 1;
  background-color: var(--main-bg-color);
}
.explore-search {
  border-radius: 2rem;
  font-size: 2rem;
  width: 80%;
  margin-top: 2rem;
  padding: 2rem 4rem;
  border: none;
  background-color: var(--sec-color);
  font-family: 'Nunito', sans-serif;
}

.explore-search::placeholder{
  color: var(--light-gray);
}
.explore-search:focus {
  outline: none;

}




