* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --main-bg-color: #ffffff;
    --primary-color: #5B557F;
    --grey-color: #5d5d5a;
    --sec-color: #F8F8FC;
    --black-color: #0F0D1E;
    --light-gray: #ACACAC;
}

::selection{
  background-color: lightgreen;
  color: var(--main-bg-color);
}
html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

/* App */

.app {
  display: flex;
}
/* Nav bar css */
.nav {
    z-index: 10;
    flex-basis: 13%;
    background-color: var(--main-bg-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: all 1s;
    box-shadow: 0 .7rem 2.9rem 0 rgba(100, 100, 111, 0.2);;
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 0 1rem 1rem;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    transition: all .2s;
    color: var(--primary-color);
    z-index: 10;
}
.nav-item:hover{
    cursor:pointer; 
    background: var(--sec-color);
    color: var(--black-color);
}

.nav-item:hover .nav-icon{
  fill: var(--black-color);
}
.nav-title{
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.1px;
}

.nav-icon {
  opacity: 1;
  transition: all 0.8s;
  fill: var(--primary-color);

}

.nav-profile {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.nav-image {
  cursor: pointer;
}
.profile-pic {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}


/* Explore Section */
.explore {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--main-bg-color);
}

/* Search Bar */

.explore-nav{
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
.input-search {
  box-shadow: 0 .7rem 2.9rem 0 rgba(100, 100, 111, 0.2);
  border-radius: 2rem;
  font-size: 1.5rem;
  width: 80%;
  margin-left: 2rem;
  padding: 2rem 4rem;
  border: none;
  background-color: var(--sec-color);
  font-family: 'Nunito', sans-serif;
  transition: all .5s;
}

.input-search::placeholder{
  color: var(--light-gray);
}
.input-search:focus {
  outline: none;
}

.input-search:hover {
  transform: scale(1.01);
}

.search-icon {
  z-index: 10;
  margin-left: -4rem;
  fill: var(--light-gray);  
  width: 2.4rem;
  height: 2.4rem;
}

.current-status{
  flex-basis: 10%;
  margin-left: 2rem;
  color: var(--primary-color);
  font-size: 2.5rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
}

.current-status:hover {
  background-color: var(--sec-color);
  color: var(--black-color);

  transition: all .2s;
}

/* Questions  */
.explore-questions {
  border-radius: 1rem;
  flex: 1;
  margin: 7% 7% 0 7%;
  background-color: #fff;
  box-shadow: 0 .7rem 2.9rem 0 rgba(100, 100, 111, 0.2);
}

.question {
  cursor: pointer;
  font-size: 2rem;
  margin: 5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--sec-color);
  backdrop-filter: blur(5rem);
}

.question-title {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.question-title:hover {
  color: var(--black-color);
}

.question-info {
  position: relative;
}
.question-dec {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.question-keywords{
  display: flex; 
  color: var(--primary-color);
}

.question-keyword:not(:first-child){
  margin-left: 2rem;
}

/* Button */

.button {
  position: absolute;
  border: none;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
}

.like-button {
 bottom: 4rem;
 right: 7rem;
}

.dislike-button {
  bottom: 4rem;
  right: 2rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}





